body {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
}

.phone {
	background-color: #333;
	width: 500px;
	margin: 100px auto;
	border-radius: 10px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.screen {
	background-color: #fff;
	padding: 10px;
	border-radius: 10px 10px 0 0;
}

.message {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}

.message:last-child {
	margin-bottom: 0;
}

.sender-box {
	background-color: #007bff;
	color: #fff;
	border-radius: 10px;
	padding: 5px;
	align-self: flex-start;
}

.receiver-box {
	background-color: #ddd;
	color: #000;
	border-radius: 10px;
	padding: 5px;
	align-self: flex-end;
}

.sender-name {
	font-weight: bold;
	display: flex;
	align-items: center;
}

.loading-spinner {
	border: 4px solid rgba(255, 255, 255, 0.3);
	border-top: 4px solid #007bff;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	margin-left: 5px;
	display: none;
}

.input-box {
	display: flex;
	background-color: #fff;
	border-top: 1px solid #ccc;
	padding: 10px;
	border-radius: 0 0 10px 10px;
}

.input-box input[type="text"] {
	flex-grow: 1;
	border: none;
	outline: none;
}

.input-box button {
	background-color: #007bff;
	color: #fff;
	border: none;
	padding: 10px 15px;
	cursor: pointer;
}

.loader {
	border: 4px solid rgba(255, 255, 255, 0.3);
	border-top: 4px solid #007bff;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	animation: spin 2s linear infinite;
	margin-right: 10px;
	display: none;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.loading {
	display: flex;
	align-items: center;
}

.loading-text {
	font-weight: bold;
}

.loading-spinner {
	display: block;
}

.loading-button {
	display: none;
}

.loading.active .loading-text {
	display: none;
}

.loading.active .loading-spinner {
	display: inline-block;
}

.loading.active .loading-button {
	display: none;
}

.send-bar{
	padding-top: 10px;
}
.input-box button{
	width: 98%;
	margin-left: 0;
}

form {
	width: 100%;
}

.input-box input[type="text"] {
	font-size: 16px;
	width: 98%;
}